- pl = "si"

- content_for :head do
  %title #{data.send(pl).title} // kontakt

- content_for :sidebar do
  = partial "sidebar", :locals => {:selected_index => 1, :locale => pl}

- content_for :footer do
  = partial "footer", :locals => {:locale => pl}


%h1.first naš naslov

%p
  Društvo Nasprotna hemisfera
  %br
  Cesta 24. junija 32
  %br
  1000 Ljubljana

%h1 na spletu

%p
  = link_to 'e-pošta', 'mailto:other.hemisphere@gmail.com'
  %br
  = link_to 'facebook', 'http://www.facebook.com/people/@/100001659435286', :target => "_blank"
  